/.build*/
/build/
/st
/pt
/pt_test
/parser_perf
/pt_test_prod_parser
/st_test_prod_parser
/pretty_binary_branding
/st_memprofile
/st_test
/unit_tests
/unit_tests_group_*
/test_suite
/test_suite_group_*
/test_suite_prod_parser_group_*
/main_fuzz
/result
/result-*
__pycache__/
.codegraph/
/plt_tests
/plt_unit_tests
/plt_wayland_integration_tests
/plt_x11_integration_tests
/platform_x11.plist
/test_suite_prod_parser
/ext/plt/plt_unit_tests
/ext/plt/plt_wayland_integration_tests
/ext/plt/plt_x11_integration_tests
/toml_dump
/bounce*.log
